datasets/
recipesRecommenderLynda/bbccouk-recipes.json
Untitled Folder/allrecipes-recipes.json
Untitled Folder/bbccouk-recipes.json
Untitled Folder/bbcrecipes.csv
Untitled Folder/full_format_recipes.json
Untitled Folder/github-allrecipes.data
Untitled Folder/reviews_Clothing_Shoes_and_Jewelry_5.json.gz
Untitled Folder/allrecipes.csv
Untitled Folder/movies/u.data
Untitled Folder/movies/ub.test
Untitled Folder/movies/ub.base
Untitled Folder/movies/ua.test
Untitled Folder/movies/ua.base
Untitled Folder/movies/u5.test
Untitled Folder/movies/u5.base
Untitled Folder/movies/u4.test
Untitled Folder/movies/u4.base
Untitled Folder/movies/u3.test
Untitled Folder/movies/u3.base
Untitled Folder/movies/u2.test
Untitled Folder/movies/u2.base
Untitled Folder/movies/u1.test
Untitled Folder/movies/u1.base
Untitled Folder/movies/u.occupation
Untitled Folder/movies/u.item
Untitled Folder/movies/u.info
*.csv
*.dat
